#box{
    width: 250px;
    height: 250px;
    background-color: red;
    font-size: 13rem ;
    text-align: center;

}
@keyframes slideLeft{
    from{transform: translateX(100%);}
}
@keyframes slideRight{
    to{transform: translateX(100%);}
}
@keyframes slideUp{
    from{transform: translateY(100%);}
}
@keyframes slidedown{
    to{transform: translateY(100%);}
}

@keyframes rotate{
    50%{transform: rotateY(360deg);}}

@keyframes grow{
    50%{transform: scale(2,-2);}
}
@keyframes fade{
    50%{opacity: 0;}
}
#box:active{
    animation-name: fade;
    animation-duration: 3s;
}