body{
    background-color: #121212;
}
.main{
    /* display: flex; */
    text-align: center;
    /* background-color: #1E1E1E; */
}
#quote {
    color: #F4D03F;
}
.head {
    /* margin-top: 100px; */
    color: #FF6B6B;
    height: 100px;
    width: auto;
    background-color: #1E1E1E;
}
.generateQuote {
    margin-top: 10px;
    background-color: #2ECC71;
    padding: 15px;
    border-radius: 8px;
    color: #FFFFFF;
    height: 400px;
    width: 500px;
    margin-left: 400px;
}
.quoteInput {
    margin-top: 0px;
    width: 80%;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid #444;
    background-color: #f9f9f9;
    color: #333;
    resize: none;
}
.generateQuote>h3{
    font-size: larger;
    margin-top: 70px;
}
.generateQuote>button{
    height: 30px;
    width: auto;
    margin-top:10px;
}